body {
    text-align: center;
    font-weight: bold;
    font-size: large;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 4fr 1.5fr;

    min-width: 350px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header {
    background-color: gray;

    grid-column: 1 / 3;
    height: 10vh;
}

/* MAIN SECTION */

main {
    background-color: lightgoldenrodyellow;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1.5fr 1fr 1fr;
}

main div {
    grid-column: 1 / 3;
}

main section {
    background-color: lightsalmon;
    margin: auto;
    padding: 20px;
}

#section-1,
#section-2 {
    width: 60%;
}

main section:nth-last-child(1) {
    grid-column: 1 / 3;
    width: 80%;
}

/* ASIDE */

aside {
    background-color: lightgreen;
}

/* FOOTER */

footer {
    background-color: gray;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1 / 3;
    align-content: space-between;
}

footer section {
    background-color: lightgrey;
    margin: auto;
    padding: 20px 30px;
}