.root {
    background-color: black;
    color: white;

    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

/* Navigation */

.header__navigation {
    height: 4.3125em;
    border-bottom: 1px solid white;
    padding-left: 100px;
    padding-right: 100px;
}

.header__logo {
    margin-top: 20px;
    float: left;

    font-weight: 600;
    font-size: 1.5em;
}

.header__navigation-bar {
    display: flex;
    gap: 23px;
    float: right;
    margin-top: 25px;

    font-weight: 500;
    font-size: 1em;
}

.navigation-bar__choice {
    margin-top: 0;
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {
    .header__navigation-bar {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
    }

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 10%;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 4;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 4px;
        border-radius: 30px;
      
        background-color: white;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        z-index: 4;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 50vw;
        height: 100%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #26292D;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: white;
      
        font-size: 20px;
        font-weight: 500;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #5C62EC;
      }
}

/* Main part */

.header__introduction {
    height: 45.75em;
}

.header__introduction-block {
    height: 18.75em;
    width: 33.125em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
}

.introduction__title,
.introduction__subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.introduction__title {
    font-size: 3.75em;
    font-weight: 700;
    margin-bottom: 0;
}

.introduction__title-name {
    color: #5C62EC;
    font-weight: 700;
}

.introduction__subtitle {
    font-size: 1.25em;
}

.introduction__buttons {
    display: flex;
    justify-content: center;
}

.introduction__button {
    border: 1px solid white;
    border-radius: 8px;
    color: white;

    width: 10.5625em;
    height: 3em;
}

.introduction__button-1 {
    background-color: #5C62EC;
    margin-right: 12px;
}

.introduction__button-1:hover {
    background-color: black;
}

.introduction__button-2 {
    background-color: black;
    margin-left: 12px;
}

.introduction__button-2:hover {
    background-color: #5C62EC;
}

@media (max-width: 768px) {
    .header__introduction {
        height: 29em;
    }

    .header__introduction-block {
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4.5em;
    }

    .introduction__title {
        font-size: 2.125em;
        font-weight: 500;
    }

    .introduction__title-name {
        font-weight: 500;
    }

    .introduction__subtitle {
        font-size: 1em;
    }

    .introduction__buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .introduction__button-1 {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .introduction__button-2 {
        margin-left: 0;
    }
}

/* ABOUT SECTION */

.about-section {
    width: 100vw;
    margin-bottom: 200px;
}

.about-section__card {
    background-color: #1C1E22;
    border: 1px solid #26292D;
    border-radius: 10px;

    width: 60.4375em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
}

.about-section__miguel-picture {
    grid-row: 1 / 5;
    border-radius: 10px;
}

.about-section__title {
    font-size: 3em;
    font-weight: 500;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-section__paragraph {
    padding-left: 40px;
    font-size: 1em;
    font-weight: 400;
}

.about-section__button {
    background-color: #1C1E22;
    color: white;

    border-radius: 8px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

    width: 12.375em;
    height: 3em;
}

.about-section__button:hover {
    background-color: #5C62EC;
}

@media (max-width: 1050px) and (min-width: 768px) {

    .about-section {
        width: 100vw;
        margin-bottom: 150px;
    }

    .about-section__card {
        width: 90vw;
    
        display: grid;
        grid-template-rows: repeat(5, fit-content);
    }

    .about-section__miguel-picture {
        grid-row: 1 / 2;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .about-section__title {
        grid-row: 2 / 3;

        font-size: 1.5em;
        font-weight: 400;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .about-section__paragraph-1 {
        grid-row: 3 / 4;
        padding-left: 0;
    }

    .about-section__paragraph-2 {
        grid-row: 4 / 5;
        padding-left: 0;
    }

    .about-section__button {
        grid-row: 5 / 6;
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .about-section {
        width: 100vw;
        margin-bottom: 150px;
    }

    .about-section__card {
        width: 60vw;
        display: grid;
        grid-template-rows: repeat(5, fit-content);
    }

    .about-section__miguel-picture {
        grid-row: 1 / 2;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .about-section__title {
        grid-row: 2 / 3;

        font-size: 1.5em;
        font-weight: 400;
        padding-left: 0;
        margin-bottom: 30px;
    }

    .about-section__paragraph-1 {
        grid-row: 3 / 4;
        padding-left: 0;
    }

    .about-section__paragraph-2 {
        grid-row: 4 / 5;
        padding-left: 0;
    }

    .about-section__button {
        grid-row: 5 / 6;
        margin-top: 30px;
    }
}

/* PROJECTS SECTION */

.projects {
    display: flex;
    flex-direction: column;

    gap: 30px;

    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}

.projects__title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
}

.projects__example {
    border-radius: 10px;
}

.projects__button {
    width: 13.6em;
    height: 3em;
    border-radius: 8px;

    align-self: center;

    background-color: #5C62EC;
    color: white;
}

.projects__button:hover {
    background-color: black;
}

@media (max-width: 768px) {
    .projects {
        margin-left: 30px;
        margin-right: 30px;
    }

    .projects__title {
        font-size: 1.5em;
        font-weight: 400;
    }
}

/* FOOTER */

.footer {
    height: 18.8125em;
}

.footer__block {
    height: 6.75em;
    margin-left: 100px;

    display: flex;
    gap: 8.0625em;
}

.footer__logo {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
}

.footer__menu {
    font-weight: 400;
    font-size: 1em;

    display: flex;
    flex-direction: column;
}

.footer__subtitle {
    font-size: 0.94em;
    font-weight: 500;
    color: #85BFD1;
    margin-top: 0;
}

.footer__social-media {
    margin-top: 30px;   
}

.footer__icon {
    margin-right: 10px;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .footer__block {
        gap: 3em;
    }
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        padding-bottom: 80px;
    }

    .footer__block {
        height: auto;
        margin-left: auto;
        margin-right: auto;
    
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }

    .footer__subtitle-3 {
        display: none;
    }
}





