.root {
    background-color: black;
    color: white;

    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

/* Navigation */



/* Main part */

.header__introduction {
    height: 45.75em;
}

.header__introduction-block {
    height: 18.75em;
    width: 33.125em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
}

.introduction__title,
.introduction__subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.introduction__title {
    font-size: 3.75em;
    font-weight: 700;
    margin-bottom: 0;
}

.introduction__title-name {
    color: #5C62EC;
    font-weight: 500;
}

.introduction__subtitle {
    font-size: 1.25em;
}

.introduction__buttons {
    display: flex;
    justify-content: center;
}

.introduction__button {
    border: 1px solid white;
    border-radius: 8px;
    color: white;

    width: 10.5625em;
    height: 3em;
}

.introduction__button-1 {
    background-color: #5C62EC;
    margin-right: 12px;
}

.introduction__button-1:hover {
    background-color: black;
}

.introduction__button-2 {
    background-color: black;
    margin-left: 12px;
}

.introduction__button-2:hover {
    background-color: #5C62EC;
}

/* ABOUT SECTION */

.about-section {
    width: 100vw;
    height: 36.3225em;
}

.about-section__card {
    background-color: #1C1E22;
    border: 1px solid #26292D;
    border-radius: 10px;

    width: 60.4375em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
}

.about-section__miguel-picture {
    grid-row: 1 / 5;
    border-radius: 10px;
}

.about-section__title {
    font-size: 3em;
    font-weight: 500;
    padding-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-section__paragraph {
    padding-left: 40px;
    font-size: larger;
    font-weight: 400;
}

.about-section__button {
    background-color: #1C1E22;
    color: white;

    border-radius: 8px;
    border: 1px solid white;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;

    width: 12.375em;
    height: 3em;
}

.about-section__button:hover {
    background-color: #5C62EC;
}

/* PROJECTS SECTION */

.projects {
    display: flex;
    flex-direction: column;

    gap: 30px;

    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}

.projects__title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
}

.projects__example {
    border-radius: 10px;
}

.projects__button {
    width: 13.6em;
    height: 3em;
    border-radius: 8px;

    align-self: center;

    background-color: #5C62EC;
    color: white;
}

.projects__button:hover {
    background-color: black;
}

/* FOOTER */

.footer {
    height: 18.8125em;
}

.footer__block {
    height: 6.75em;
    margin-left: 100px;

    display: flex;
    gap: 8.0625em;
}

.footer__logo {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
}

.footer__menu {
    font-weight: 400;
    font-size: 1em;

    display: flex;
    flex-direction: column;
}

.footer__subtitle {
    font-size: 0.94em;
    font-weight: 500;
    color: #85BFD1;
    margin-top: 0;
}

.footer__social-media {
    margin-top: 30px;   
}

.footer__icon {
    margin-right: 10px;
}





